html {
  background: url(../images/cliff.jpg) no-repeat top left;
}



/* Write your solution here */

@media only screen and (min-width: 1196px) {
  .wrapper {
    width: 800px;
    float: right;
  }
}